.view-frame {
  margin: 20px auto;
  padding: 0 20px;

}
footer {
  padding: 0;
  background-color: #222222;
  text-align: center;
}
footer p {
  color: #fff;
  padding: 16px;
  margin: 0;
}
.navbar-toggle {
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: 767px) {
    .navbar-nav {
      float: none!important;
      text-align: center;
    }
}


.top-filer {
	background-color: #ccc;
	padding: 20px;
	margin-bottom: 50px;
}
.product {
	margin: 0;
	padding: 0;
}
.product li {
	list-style-type: none;
  min-height: 360px;
  border: 2px solid #fff;
}
.product li:hover {
  border: 2px solid #E4E4E4;
}


.edit-product li {
  position: relative;
  list-style-type: none;
  border: 2px solid #E4E4E4;
  min-height: 420px;
  text-align: center;
  border-radius: 4px;
}
.edit-product li:hover {
  border: 2px solid #808080;
}
.edit-buttons {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.product-photo {
  height: 180px;
}


.product p {
	text-align: center;
}
.product-description {
  height: 140px;
}
.thumb img {
	width: 150px;
}
.single-product {
  background-color: white;
  display: none;
  float: left;
  height: 400px;
  margin-bottom: 2em;
  margin-right: 3em;
  padding: 2em;
  width: 400px;
}
.single-product:first-child {
  display: block;
}
.single-product-thumbs {
  list-style: none;
  margin: 0;
}
.single-product-thumbs img {
  height: 100px;
  padding: 1em;
  width: 100px;
}
.single-product-thumbs li {
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  display: inline-block;
  margin: 1em;
}
.add-product-form {
  margin-top: 50px;
}

.edit-store-container {
  position: relative;
}

.info-message {
  position: absolute;
  top: 100px;
}

.thumb {
  width: 24px;
  height: 24px;
  float: none;
  position: relative;
  top: 7px;
}

.files-result li {
  margin-bottom: 10px;
}

form .progress {
  line-height: 15px;
  margin-right: 20px;
}

.progress {
  display: inline-block;
  width: 100px;
  border: 3px groove #CCC;
  margin-bottom: 0;
  margin-left: 20px;
  margin-bottom: -6px;
}

.progress div {
  font-size: smaller;
  background: orange;
  width: 0;
}

